TEST_STRIPE_API_KEY=
TEST_STRIPE_WEBHOOK_KEY=
GOOGLE_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
MORPHLM_API_KEY=
YOOKASSA_ACCOUNT_ID=
YOOKASSA_SECRET_KEY=
DJANGO_SETTINGS_MODULE=smartfindAPI.settings.dev
DB_HOST=localhost